<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/accueil.css">
    <link rel="icon" type="image/vnd.icon" href="/ressource/image/maga.JPG">
    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1/dist/confetti.browser.min.js"></script>
    <script src="/script/accueil.js"></script>
    <title>Le Forum</title>
    <title>Forum</title>

<body>
    
<div class="container">
    <div class="profile-section">
        <div>
            {{if .LoggedIn}}
                <a class="profile" href="/profil">Profil</a>
            {{else}}
                <a class="connexion" href="/connexion">Connexion</a>
            {{end}}
        </div>
        <div class="star"></div>
        <div class="star1"></div>
        <div class="star2"></div>
        <div class="star3"></div>
        <div class="star4"></div>
        <script src="../script/Star.js"></script>
        <div>
            <a class="contact" href="/contact">Contact</a>
        </div>
    </div>
    <div class="main-section">
        <div class="title">Bienvenue sur le Forum</div>
        <div id="topic-container">
            <!-- Les box des topics seront ajoutées ici par le JS -->
        </div>
        </div>
    <div class="side-section">
        <div class="categories">
            <div class="star5"></div>
            <div class="star6"></div>
            <div class="star7"></div>
            <div class="star8"></div>
            <div class="star9"></div>
            <script src="../script/Star2.js"></script>
            <form id="createCategoryForm" method="POST" action="/CreateCategory">
                <input type="text" class="createCategory" name="categoryName" placeholder="Enter new category">
                <button class="categoryBtn" type="submit">Create</button>
            </form>
            <h3>Categories</h3>
            <ul id="categoriesList">
                <li>Granny</li>
                <li>Granny</li>
                <li>Granny</li>
            </ul>
        </div>
        <div class="hashtags">
            <form id="createHashtagForm" method="POST" action="/Create#">
                <input type="text" class="createHashtags" name="hashtagsName" placeholder="Enter new hashtags">
                <button class="hashtagsBtn" type="submit">Create</button>
            </form>
            <h3>Hashtags</h3>
            <ul id="hashtagsList">
                <li>#mesboules</li>
                <li>#mesboules</li>
            </ul>
        </div>
        <div class="Search-Container">
            <form id="searchForm">
                <input type="text" id="searchInput" placeholder="Search topics or users...">
                <button type="submit" id="SearchBar">Search</button>
            </form>
            <div id="searchResults"></div>
        </div>
    </div>
</div>
<script src="../script/category.js"></script>
<script src="../script/hashtag.js"></script>
<script src="../script/topic.js"></script>
</body>


</html>
