<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forum</title>
    <link rel="stylesheet" href="../css/accueil.css">
</head>
<body>
<div class="container">
    <div class="profile-section">
        <div class="profile">Profile</div>
        <div class="filters">
            <div class="search">
                <input type="text" placeholder="Search">
                <button>Add Caption</button>
                <button>Add Caption</button>
                <button>Add Caption</button>
                <button>Add Caption</button>
            </div>
        </div>
    </div>
    <div class="main-section">
        <div class="title">Forum</div>
        <div class="posts">
            <a href="" class="post post-1">Post 1: bla bla bla bla bla bla bla bla</a>
            <a href="" class="post post-2">Post 2: bla bla bla bla bla bla bla bla</a>
            <a href="" class="post post-3">Post 3: bla bla bla bla bla bla bla bla</a>
            <a href="" class="post post-4">Post 4: bla bla bla bla bla bla bla bla</a>
            <a href="" class="post post-5">Post 5: bla bla bla bla bla bla bla bla</a>
            <a href="" class="post post-6">Post 6: bla bla bla bla bla bla bla bla</a>
        </div>
    </div>
    <div class="side-section">
        <div class="categories">
            <h3>Categories</h3>
            <ul>
                <li>Granny</li>
                <li>Granny</li>
                <li>Granny</li>
                <li>Granny</li>
                <li>Granny</li>
                <li>Granny</li>
            </ul>
        </div>
        <div class="hashtags">
            <h3>Hashtags</h3>
            <ul>
                <li>#mesboules</li>
                <li>#mesboules</li>
                <li>#mesboules</li>
                <li>#mesboules</li>
                <li>#mesboules</li>
                <li>#mesboules</li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>
