<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style/accueil.css">
    <link rel="icon" type="image/vnd.icon" href="../ressource/image/maga.JPG">
    <script src="/script/accueil.js"></script>
    <title>Le Forum</title>
</head>

<body>
    <h1>Bienvenue sur le Forum </h1>
    <h2>Les sujets du forum</h2>
    <!-- ajout d'image -->
        <form id="commentForm">
            <textarea name="comment" required></textarea>
            <input type="file" id="imageUpload" accept="/*"/><br><br>
            <button type="submit">Post Comment</button>
        </form>
        <br><br> 

 <!-- ajout de topic -->
        <form action="/back/route.go" method="post">
            <label for="title">Title:</label>
            <input type="text" name="title" id="title"required><br><br>
            <label for="description">Description:</label>
            <textarea name="description" id="description"></textarea><br><br>
            <input type="submit" value="Create Topic">
        </form>

</body>

</html>