<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/contact.css">
</head>
<body>
<div class="returnHome-container">
    <div>
        <a class="returnHome" href="/accueil">Home</a>
    </div>
</div>
<div class="card-container">
    <div class="card1">
        <img src="./image/profilAlexis.jpg" alt="Alexis" style="width:100%">
        <h1>Alexis mon ami</h1>
        <p class="title">CEO & Founder, Example</p>
        <p>Ynov University</p>
        <p><button>Contact</button></p>
    </div>
    <div class="card2">
        <img src="./image/paulo-golemo.jpg" alt="Paulo" style="width:100%">
        <h1>Paulo mon amigo</h1>
        <p class="title">CEO & Founder, Example</p>
        <p>Ynov University</p>
        <p><button>Contact</button></p>
    </div>
    <div class="card3">
        <img src="./image/Kevino-grosDodo.jpg" alt="Kevin" style="width:100%">
        <h1>Kevin gros dodo</h1>
        <p class="title">CEO & Founder, Example</p>
        <p>Ynov University</p>
        <p><button>Contact</button></p>
    </div>
    <br><br>
    <div class="card4">
        <img src="./image/Rayano.jpg" alt="Ryan" style="width:100%">
        <h1>Rayan super sayan</h1>
        <p class="title">CEO & Founder, Example</p>
        <p>Ynov University</p>
        <p><button>Contact</button></p>
    </div>
    <div class="card5">
        <img src="./image/LouisCharizard.jpg" alt="Louis" style="width:100%">
        <h1>Louis Le Boss</h1>
        <p class="title">CEO & Founder, Example</p>
        <p>Ynov University</p>
        <p><button>Contact</button></p>
    </div>
</div>
</body>
</html>