<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profil</title>
    <link rel="stylesheet" href="../css/profil.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
<div class="title">Forum</div>
<button class="back-button" onclick="window.history.back()">Retour</button>
{{if .IsAdmin}}
<button class="admin-button" onclick="location.href='/admin'">Admin</button>
{{end}}
<div class="profile-wrapper">
    <div class="profile-container">
        <div class="profile-pic" id="profile-pic">pp du profil</div>
        <div class="info-section">
            <div class="info-item"><span id="username">Username :</span><p>{{.Username}}</p></div>
            <div class="info-item"><span id="name">Name :</span><p>{{.Name}}</p></div>
            <div class="info-item"><span id="birthdate-section">Birthdate :</span><p>{{.Birthdate}}</p></div>
            <div class="info-item"><span id="email">Mail :</span><p>{{.Email}}</p></div>

            <div class="links-section">
                <a href="#" id="google-link"><i class='bx bxl-google'></i></a>
                <a href="#" id="github-link"><i class='bx bxl-github'></i></a>
                <a href="#" id="facebook-link"><i class='bx bxl-meta' ></i></a>
            </div>
        </div>
    </div>

    <button class="back-button" onclick="window.history.back()">Retour</button>
    <div class="topic-content">
        <span class="author-topic">(mettre ses topics)</span>
    </div>

</div>

<!-- Script -->
<script src="../script/profil.js"></script>
</body>
</html>
