<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profil</title>
    <link rel="stylesheet" href="../css/profil.css">
</head>
<body>
<div class="header">Nom du forum</div>
<div class="profile-wrapper">
    <div class="profile-container">
        <div class="profile-pic" id="profile-pic">pp du profil</div>
        <div class="info-section">
            <div id="username">Username :</div><p></p>
            <div id="name">Name :</div><p></p>
            <div id="firstname">Firstname :</div><p></p>
            <div id="birthdate-section">Birthdate :</div><p></p>
            <div id="email">Mail :</div><p></p>

            <div id="other-link">Other link :</div>
            <div class="links-section">
                <a href="#" id="google-link">Google</a>
                <a href="#" id="github-link">Github</a>
                <a href="#" id="riot-client-link">Riot Games</a>
                <a href="#" id="facebook-link">facebook</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
