body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('/image/fond-ecran-forum.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    overflow: hidden;
    position: relative;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
}

.Search-Container {
    display: flex;
    justify-content: center;
}

.Search-Container #SearchBar {
    display: flex;
    margin-top: 15px;
    padding: 10px 10px;
    font-size: 14px;
    font-weight: normal;
    color: #fff;
    background-color: #4181f8;
    border: none;
    border-radius: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.3s;
    cursor: pointer;
    margin-bottom: 8px;
    top: 1px;
    position: relative;
    z-index: 2;
}

.profile-section {
    width: 250px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1.1px);
    -webkit-backdrop-filter: blur(1.1px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    position: relative;
}

.star, .star1, .star2, .star3, .star4, .star5, .star6, .star7, .star8, .star9 {
    position: absolute;
    width: 20px;
    height: 20px;
    background: yellow;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

.postCreation, .connexion, .log-out .LogOut-link, .Open-Messages, .contact {
    align-items: center;
    padding: 20px 40px; /* Enlarged buttons */
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    background-color: #4181f8;
    border: none;
    border-radius: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.3s;
    cursor: pointer;
    margin-bottom: 8px;
    position: relative;
    z-index: 2;
}

.profile{
    align-items: center;
    padding: 20px 40px; /* Enlarged buttons */
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    background-color: #4181f8;
    border: none;
    border-radius: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.3s;
    cursor: pointer;
    margin-bottom: 8px;
    position: relative;
    z-index: 2;
    margin-top: 5px;
}

.postCreation, .Open-Messages {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.postCreation {
    top: 50%;
    transform: translate(-50%, -50%);
}

.Open-Messages {
    top: calc(50% + 60px); /* Adjust as needed to space buttons */
    transform: translate(-50%, -50%);
    margin-top: 8px;
}

.contact {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
}

.connexion {
    top: 30px;
    margin-top: auto;
}

.log-out {
    margin-top: auto;
    margin-bottom: 5px;
    padding: 20px;
}

.side-section {
    width: 250px;
    height: 100%;
    padding: 10px;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1.1px);
    -webkit-backdrop-filter: blur(1.1px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    position: relative;
}

.log-out .LogOut-link {
    position: absolute;
    bottom: 5px;
    right: 5px;
    margin-bottom: 5px;
}

.main-section {
    flex-grow: 1;
    text-align: center;
}

.title {
    font-size: 40px;
    font-weight: bold;
    padding: 30px;
    margin-bottom: 20px;
    background: rgba(44, 152, 155, 0.75);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.7px);
    -webkit-backdrop-filter: blur(4.7px);
    border: 1px solid rgba(44, 152, 155, 0.3);
}

.post-topic {
    margin-bottom: 40px;
}

.post-feed {
    margin-top: 30px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.31);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);
    border: 1px solid rgba(255, 255, 255, 0.55);
}

.post-feed .post-author {
    font-weight: bold;
    margin-bottom: 10px;
}

.post-feed .postContent {
    margin-bottom: 10px;
}

.comments {
    padding: 10px;
    margin-top: 10px;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 8px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1.1px);
    -webkit-backdrop-filter: blur(1.1px);
    border: 1px solid rgba(255, 255, 255, 0.25);
}

.comment {
    margin-top: 10px;
}

.comment .post-author {
    font-weight: bold;
    margin-bottom: 5px;
}

.comment .comment-text {
    padding: 10px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
}

.categories, .hashtags, .Search-Container {
    padding: 10px;
    margin-bottom: 10px;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.3px);
    -webkit-backdrop-filter: blur(8.3px);
    border: 1px solid rgba(255, 255, 255, 0.12);
}

.categories h3, .hashtags h3 {
    margin: 0;
    margin-bottom: 10px;
}

.categories ul, .hashtags ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.categories li, .hashtags li {
    margin-bottom: 5px;
}

.createCategory, .createHashtags, .SearchInput {
    display: inline-block;
    align-items: center;
    margin-bottom: 8px;
    padding: 8px 10px;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    background-color: #4181f8;
    border: none;
    border-radius: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.3s;
    cursor: pointer;
    border-bottom: 1px solid #85aefa;
}

#searchInput {
    display: inline-block;
    align-items: center;
    margin-bottom: 8px;
    padding: 8px 10px;
    font-size: 15px;
    font-weight: bold;
    color: white;
    background-color: #4181f8;
    border: none;
    border-radius: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.3s;
    cursor: pointer;
    border-bottom: 1px solid #85aefa;
}

.createCategory::placeholder, .createHashtags::placeholder, #searchInput::placeholder {
    color: #fff;
}

.categoryBtn, .hashtagsBtn, #SearchButton {
    align-items: center;
    padding: 5px 20px;
    font-size: 13px;
    font-weight: normal;
    color: #fff;
    background-color: #4181f8;
    border: none;
    border-radius: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.3s;
    cursor: pointer;
    margin-bottom: 8px;
}

.profile:hover, .connexion:hover {
    background-color: #8e004e;
    transform: translateY(-3px);
}
.contact:hover{
    background-color: #8e004e;
}

.categoryBtn:hover, .hashtagsBtn:hover{
    background-color: #45a049;
    transform: translateY(-3px);
}
.postCreation:hover {
    background-color: #45a049;
}

.categoryBtn:active, .hashtagsBtn:active {
    background-color: #3e8e41;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transform: translateY(0);
}

.LogOut-link:hover {
    background-color: red;
}

.Open-Messages:hover {
    background-color: #FBBC05;
}

/* Media Queries for responsiveness */
@media (min-width: 768px) {
    .container {
        flex-direction: row; /* Row direction for larger screens */
    }
    .profile-section {
        width: 15%; /* Specific width for larger screens */
    }
    .side-section {
        width: 25%; /* Specific width for larger screens */
    }
}
