@import url("https://font.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('/image/fondEcranForum.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.wrapper, .wrapper-register, .forgot-password {
    width: 420px;
    background: #2443d7;
    color: #fff;
    padding: 30px 40px;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 25px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(1.1px);
    -webkit-backdrop-filter: blur(1.1px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    flex-shrink: 0; /* Empêche la réduction */
    transform: perspective(1000px) rotateX(5deg) rotateY(-5deg);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.wrapper:hover, .wrapper-register:hover, .forgot-password:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    transform: perspective(900px) rotateX(2deg) rotateY(2deg);
}

.wrapper{
    display: block;
}

.wrapper-register {
    display: none; /* Cache par défaut le formulaire de registre */
}
.forgot-password{
    display: none;
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
}

.wrapper .input-boxPass, .input-boxUser, .input-boxPass2{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.wrapper:target {
    display: block;
}

.forgot-password h1 {
    font-size: 36px;
    text-align: center;
}

.forgot-password .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}
.forgot-password:target {
    display: block;
}

.wrapper-register h1 {
    font-size: 36px;
    text-align: center;
}

.wrapper-register .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}
.input-boxUser input{
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}
.input-boxPass input{
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}
.input-boxPass2 input{
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
    color: #fff;
}
.input-boxUser input::placeholder{
    color: #fff;
}
.input-boxPass input::placeholder{
    color: #fff;
}
.input-boxPass2 input::placeholder{
    color: #fff;
}

.input-box i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}
.input-boxUser i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}
.input-boxPass i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}
.input-boxPass2 i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.wrapper .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.remember-forgot label input{
    accent-color: #fff;
    margin-right: 3px;
}

.remember-forgot a{
    color: #fff;
    text-decoration: none;
}

.remember-forgot a:hover{
    text-decoration: underline;
}

.wrapper .btn{
    width: 100%;
    height: 45px;
    background: #fff;
    border: 0;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 80px  rgba(0, 0, 0, 0.412);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}
.wrapper-register .btn{
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 80px  rgba(0, 0, 0, 0.412);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}
.forgot-password .btn{
    width: 100%;
    height: 45px;
    background: #fff;
    border: 0;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 80px  rgba(0, 0, 0, 0.412);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

.wrapper .register-link{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover{
    text-decoration: underline;
}

.back-to-login p a{
    color: white;
}

.back-to-login i{
    position: absolute;
    left: 20px;
    color: white;
    height: 50px;
}
.eyePassword i{
    position: absolute;
    right: 50px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    cursor: pointer;
}
.eyePassword2 i{
    position: absolute;
    right: 50px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    cursor: pointer;
}

.eyePassword i.active::before{
    content: '\f070';
}
.eyePassword2 i.active2::before{
    content: '\f070';
}