body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('/image/fond-ecran-forum.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.container {
    display: flex;
    height: 100vh;
    position: relative;
    z-index: 1;
    justify-content: space-between; /* Équilibre les sections */
}

.profile-section, .side-section {
    position: sticky; /* Utiliser sticky au lieu de fixed */
    top: 0; /* Pour aligner au haut du conteneur parent */
    width: 20%;
    height: 100vh;
}

.profile-section {
    left: 0;
    width: 10%;
    height: auto;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1.1px);
    -webkit-backdrop-filter: blur(1.1px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    flex-shrink: 0; /* Empêche la réduction */
}
.star,.star1,.star2,.star3,.star4 {
    position: absolute;
    width: 20px;
    height: 20px;
    background: yellow;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}
.profile {
    background-color: #85aefa;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
    position: relative; /* Nécessaire pour le z-index */
    z-index: 2; /* Met le contenu au-dessus de l'image de fond */
}

.side-section {
    right: 0;
    width: 20%;
    padding: 10px;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1.1px);
    -webkit-backdrop-filter: blur(1.1px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    flex-shrink: 0; /* Empêche la réduction */
}

.star5,.star6,.star7,.star8,.star9 {
    position: absolute;
    width: 20px;
    height: 20px;
    background: yellow;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

.main-section {
    margin-left: 10px;
    margin-right: 10px;
    height: 100vh;
    overflow: auto;
    flex-grow: 1; /* Prend tout l'espace restant */
    padding: 10px;
    text-align: center;
    position: relative;
    z-index: 2;
}

.title {
    font-size: 40px;
    font-weight: bold;
    padding: 30px;
    margin-bottom: 10px;
    overflow-wrap: break-word;
    background: rgba(44, 152, 155, 0.75);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.7px);
    -webkit-backdrop-filter: blur(4.7px);
    border: 1px solid rgba(44, 152, 155, 0.3);
}

.posts {
    text-align: left;
    position: relative;
    z-index: 2;
}

.post-detail {
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 35px;
    text-align: left;
    background: rgba(255, 255, 255, 0.31);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);
    border: 1px solid rgba(255, 255, 255, 0.55);
    justify-content: flex-start;
}

.post-detail h2 {
    font-size: 24px;
    margin-bottom: 10px;
    position: relative;
    z-index: 2;
}

.post-detail .post-content {
    padding-bottom: 20px;
    border-bottom: 1px solid #85aefa;
    position: relative;
    z-index: 2;
}

.post-detail .post-content input {
    width: 50%;
    height: 30px;
    padding: 8px;
    margin-top: 16px;
    border: 2px solid #ccc;
    border-radius: 8px;
    resize: none;
    position: relative;
    z-index: 2;
}

.post-detail .post-description {
    width: 95%;
    height: 220px;
    padding: 12px;
    margin-bottom: 5px;
    margin-top: 5px;
    border: 2px solid #ccc;
    border-radius: 8px;
    resize: none;
    position: relative;
    z-index: 2;
}

.post-detail .comments {
    padding-top: 2px;
    position: relative;
    z-index: 2;
}

.comment-text {
    width: 95%;
    height: 50px;
    padding: 12px;
    margin-bottom: 5px;
    margin-top: 5px;
    border: 2px solid #ccc;
    border-radius: 8px;
    resize: none;
    position: relative;
    z-index: 2;
}

.post-detail .comment {
    margin-bottom: 5px;
    position: relative;
    z-index: 2;
}

.post-author {
    margin-bottom: 1px;
    font-weight: bold;
    position: relative;
    z-index: 2;
}

.categories, .hashtags {
    padding: 10px;
    margin-bottom: 10px;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.3px);
    -webkit-backdrop-filter: blur(8.3px);
    border: 1px solid rgba(255, 255, 255, 0.12);
}

.categories h3, .hashtags h3 {
    margin: 0;
    margin-bottom: 10px;
    position: relative;
    z-index: 2;
}

.categories ul, .hashtags ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: relative;
    z-index: 2;
}

.categories li, .hashtags li {
    margin-bottom: 5px;
    position: relative;
    z-index: 2;
}

.categories .createCategory, .createHashtags {
    display: inline-block;
    align-items: center;
    margin-bottom: 8px;
    padding: 8px 10px;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    background-color: #4181f8;
    border: none;
    border-radius: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.3s;
    cursor: pointer;
    border-bottom: 1px solid #85aefa;
    position: relative;
    z-index: 2;
}

.categories .createCategory::placeholder, .createHashtags::placeholder {
    color: #fff;
}

.categoryBtn, .hashtagsBtn {
    align-items: center;
    padding: 5px 20px;
    font-size: 13px;
    font-weight: normal;
    color: #fff;
    background-color: #4181f8;
    border: none;
    border-radius: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.3s;
    cursor: pointer;
    margin-bottom: 8px;
    position: relative;
    z-index: 2;
}
.profileBtn{
    align-items: center;
    padding: 15px 40px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    background-color: #4181f8;
    border: none;
    border-radius: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.3s;
    cursor: pointer;
    top: 10px;
    position: relative;
    z-index: 2;
}
.returnHome{
    align-items: center;
    padding: 15px 30px;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    background-color: #4181f8;
    border: none;
    border-radius: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.3s;
    cursor: pointer;
    top: 60px;
    position: relative;
    z-index: 2;
}
.contact{
    align-items: center;
    padding: 15px 30px;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    background-color: #4181f8;
    border: none;
    border-radius: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.3s;
    cursor: pointer;
    top: 3353%;
    position: relative;
    z-index: 2;
}
.comment-Button{
    align-items: center;
    padding: 5px 10px;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    background-color: #4181f8;
    border: none;
    border-radius: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.3s;
    cursor: pointer;
    margin-top: 10px; /* Ajoutez une marge en haut pour l'espacement */
    width: 30%; /* Ajustez la largeur selon votre mise en page */
    margin-left: 70%;
}
.post-Button{
    align-items: center;
    padding: 5px 10px;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    background-color: #4181f8;
    border: none;
    border-radius: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.3s;
    cursor: pointer;
    margin-top: 10px; /* Ajoutez une marge en haut pour l'espacement */
    width: 30%; /* Ajustez la largeur selon votre mise en page */
    margin-left: 70%;
}

.categoryBtn:hover, .hashtagsBtn:hover,.profileBtn:hover {
    background-color: #45a049;
    transform: translateY(-3px);
}
.returnHome:hover, .contact:hover{
    background-color: #8e004e;
    transform: translateY(-3px);
}

.categoryBtn:active, .hashtagsBtn:active {
    background-color: #3e8e41;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transform: translateY(0);
}
.post-Button:hover,.comment-Button:hover {
    background-color: #8e004e;
    transform: translateY(-3px);
}

.post-Button:active, .comment-Button:active {
    background-color: #8e004e;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transform: translateY(0);
}
