body {
    background-color: #1A1A1A;
    color: #FFFFFF;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #D3D3D3;
    color: #000000;
    padding: 20px;
    text-align: center;
}

.profile-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    margin-top: 50px;
}

.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.profile-pic {
    width: 150px;
    height: 150px;
    background-color: #D3D3D3;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    margin-bottom: 20px;
}

.info-section {
    background-color: #444444;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
}

.info-section div {
    margin-bottom: 10px;
}

.links-section {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.links-section a {
    background-color: #0000FF;
    color: #FFFFFF;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
}

.birthdate-section {
    background-color: #D3D3D3;
    color: #000000;
    padding: 10px;
    width: 200px; /* Fixed width for the birthdate section */
    position: absolute;
    right: 0;
    top: 50px; /* Align with profile-container */
    text-align: center;
}
